/*
----------------------------------------------
General CSS
----------------------------------------------
*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

body p {
  font-size: 16px; }

.section-header {
  padding: 10px; }
  .section-header h1 {
    font-size: 3em;
    text-align: center;
    color: #ff9f1c; }
  .section-header h3 {
    font-size: 2em;
    text-align: center; }
  .section-header .reset h1,
  .section-header .reset h3 {
    text-align: inherit;
    color: inherit; }
  .section-header .title {
    color: #ff9f1c; }

#admin-main,
#login-form-section {
  margin-top: 30px; }

#login-form-section h1 {
  color: #ff9f1c; }

.admin-nav {
  border-right: 2px solid #011627;
  padding-right: 0; }
  .admin-nav #user {
    background-color: #ff9f1c;
    border-radius: 0;
    color: white; }

.option-header {
  color: #ff9f1c;
  margin-left: 20px; }

#error {
  text-align: center;
  padding: 7px 0;
  margin: 25px 10px auto;
  background-color: rgba(231, 29, 54, 0.6); }
  #error h1 {
    color: #a61224; }

#form {
  display: none;
  font-size: 16px; }

.post-actions ul {
  padding-left: 0; }
.post-actions li {
  display: inline-block;
  list-style-type: none;
  padding: 0 5px; }

/*# sourceMappingURL=admin.css.map */
