/*
----------------------------------------------
General CSS
----------------------------------------------
*/
$primary-color: rgb(255,159,28);
$primary-color-dark: rgb(239,147,26);
$primary-color-darker: rgb(216,133,23);
$secondary-color: rgb( 231, 29, 54);
$tertiary-color: rgb(1,22,39);
$quaternary-color: rgb(46, 196, 182);
$footer-color: rgb(1,22,39);
$copyright-color: rgb(0,0,0);

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    p {
        font-size: 16px;
    }
}

.section-header {
    padding: 10px;

    h1 {
        font-size: 3em;
        text-align: center;
        color: $primary-color;
    }

    h3 {
        font-size: 2em;
        text-align: center;
    }

    .reset {
        h1,
        h3 {
            text-align: inherit;
            color: inherit;
        }
    }

    .title {
        color: $primary-color;
    }
}

#admin-main,
#login-form-section {
    margin-top: 30px;
}

#login-form-section {
    h1 {
        color: $primary-color;
    }
}

.admin-nav {
    border-right: 2px solid $tertiary-color;
    padding-right: 0;

    #user {
        background-color: $primary-color;
        border-radius: 0;
        color: white;
    }
}

.option-header {
    color: $primary-color;
    margin-left: 20px;
}

#error {
    text-align: center;
    padding: 7px 0;
    margin: 25px 10px auto;
    background-color: rgba(231, 29, 54, 0.6);

    h1 {
        color: rgb(166,18,36);
    }
}
// Blog Pages

#form {
    display: none;
    font-size: 16px;
}

.post-actions {
    ul {
        padding-left: 0;
    }

    li {
        display: inline-block;
        list-style-type: none;
        padding: 0 5px;
    }
}
